In [38]:
import time
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [39]:
driver = webdriver.Chrome('../chromedriver')
url = 'https://www.hsd.co.kr/menu/menu_list'
driver.get(url)

In [40]:
btn_more = driver.find_element_by_css_selector('#btn_more > span > a')
try:
    while True:
        btn_more.click()
        time.sleep(3)
except Exception:
    pass

In [41]:
soup = BeautifulSoup(driver.page_source, 'html.parser')
items = soup.select('.item')

In [42]:
data = pd.DataFrame(columns=['name', 'price'])
for item in items:
    name = item.select_one('.fz_03').string
    price = item.select_one('.item-price > strong').string
    data = data.append({'name': name, 'price': price}, ignore_index=True)

In [10]:
data.to_csv('./data.csv', encoding='utf-8', index=False)
pd.read_csv('./data.csv', engine='python')

                 name   price
0        매화(치킨, 연어구이)  10,000
1     매화 (순살 고등어데리야끼)  10,000
2                 진달래   7,000
3    개나리(순살 고등어 간장구이)   8,000
4            중화 짜장볶음밥   4,700
..                ...     ...
120      한솥 감초볶음고추장소스     500
121            반찬 무생채     300
122              볶음김치     400
123                김치     300
124              무말랭이     300

[125 rows x 2 columns]